footer, header, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-content: center;
}

body {
    background-color: aqua;
}

ul#header li {
    display: inline-flex;
}