/*CSS Variables*/
:root{
  --bg-colour: #fbfbf8;
  --black: #000000;
  --blue: #3A405A;
  --orange: #F28C07;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --acc-border: solid medium #f28C07;
}

/* Root styling */
html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  color: var(--black);
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: var(--bg-colour);
  line-height: normal;
  max-width: 100%;
  overflow-x: hidden;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}

/* Header Styling */
.header ul {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  grid-template-columns: 8fr 1fr;
  border-bottom: var(--acc-border);
}

.loginButton a {
    background: var(--blue);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    align-content: center;
    color: var(--bg-colour);
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding-right: 2rem;
}
.loginButton a:hover {
  background: var(--black);
}

/* Feed styling */
.feed {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3,1fr);
  padding: 1rem 1.5rem; 
}
.articleHeads img {
  box-shadow: var(--shadow);

}
.articleHeads a {
  
  height: 200px;
  border-bottom: var(--acc-border);
  background: #fbfbf8
}


.resize {
  width: 400px;
  height: auto;
}

@media (max-width: 1300px){
  .feed {
    grid-template-columns: repeat(2,1fr);
  }
  .resize {
    width: 450px;
    height:auto;
  }

}

@media (max-width: 800px){
  .feed {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    padding: 1rem 1.5rem; 
  }
  .resize {
    width: 350px;
    height:auto;
  }
  .header ul {
    padding-left: 1rem;
    font-size: 0.8rem;
    grid-template-columns: 2fr 1fr
  }
}

@media (max-width: 400px){
  
  .feed {
    padding: 0.5rem;

  }
}



