/*CSS Variables*/
:root{
  --bg-colour: #fbfbf8;
  --black: #000000;
  --blue: #3A405A;
  --orange: #F28C07;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --acc-border: solid medium #f28C07;
}

/* Root styling */
html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  color: var(--black)
}
body {
  margin: 0;
  background-color: var(--bg-colour);
  line-height: normal;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}

/* Header Styling */
.header ul {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  grid-template-columns: 8fr 1fr;
  border-bottom: var(--acc-border);
}

.loginButton a {
    background: var(--blue);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    align-content: center;
    color: var(--bg-colour);
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-radius: 15px;
}
.loginButton a:hover {
  background: var(--black);
}

/* Feed styling */
.feed {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr; 
}



