/*CSS Variables*/
:root{
  --bg-colour: #fbfbf8;
  --black: #000000;
  --blue: #3A405A;
  --orange: #F28C07;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --acc-border: solid medium #f28C07;
}

/* Root styling */
html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  color: var(--black);
  max-width: 100%;
  overflow-x: hidden;
  margin:0;
}
body {
  margin: 0;
  background-color: lightgrey;
  line-height: normal;
  max-width: 100%;
  overflow-x: hidden;
}
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}

/* Header Styling */
.header {
  margin:0;
  background-color: #f28C07;
  box-shadow: var(--shadow);
}
.header ul {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  grid-template-columns: 8fr 1fr;
}
.loginButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
}

.loginButton a {
    background: var(--blue);
    display: flex;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--bg-colour);
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-radius: 15px;
}
.loginButton a:hover {
  background: var(--black);
}

/* Feed styling */
.feed {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3,1fr);
  padding: 1rem 1.5rem; 
}
.articleHeads img {
  box-shadow: var(--shadow);

}
.articleHeads a {
  height: 200px;
  border-bottom: var(--acc-border);
  background: #fbfbf8
}


.resize {
  width: 400px;
  height: auto;
}

/* Article styling */
.articleTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(10, 14, 31);
  box-shadow: var(--shadow);

}
.article-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  color: var(--bg-colour);
}

.article-head-image img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: auto;
}
.article-main{
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(228, 228, 228)

}
.article-main img{
  box-shadow: var(--shadow);
}
.article-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 5rem;
  padding-left: 2rem;
}
/* Login  */
.login {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
  margin: 0.5rem 10rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
/* Profile page */
.profile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.profile-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;

}
.bio-section {
  background: whitesmoke;
  box-shadow: var(--shadow);
  border-radius: 8px;
  padding: 1rem 2rem;
}
.bio-section textarea {
  resize: none;
  width: 300px;
  height: 200px;
}
.profile-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.create-button {
  color: white;
  align-self: center;
  font-size: 1.05rem;
  border-radius: 5px;
  background-color: #3A405A;
  padding: 0.3rem;
  box-shadow: var(--shadow);
}
.create-button a {
  color: white;
  text-decoration: none;

}
.logout-button {
  align-self: center;
  text-decoration: none;
  font-size: 1.05rem;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: var(--shadow);

}
/* Create article styling */
.create-article-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px
}
.editor {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3rem;
  background-color: whitesmoke;
  box-shadow: var(--shadow);
  margin-left: 10px;
}
.editor li {
  list-style: none;
}
.title-entry {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.head-image-entry {
  display: flex;
  flex-direction: column;
}
.head-label-input {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.himg-label {
  align-self: center;
}
.content-entry {
  padding: 1rem;
}
.content-entry img {
  width: 400px;
  height: auto;
}
.content-entry textarea {
  resize: none;
  width: 450px;
  height: auto;
}
.editor-help {
  padding: 1rem 2rem 1rem 1rem;
  margin-right: 10px;
  background-color: whitesmoke;
  box-shadow: var(--shadow);
  border-radius: 3px;
}
.add-image {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: space-around;
}
.add-buttons {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

@media (max-width: 1300px){
  .feed {
    grid-template-columns: repeat(2,1fr);
  }
  .resize {
    width: 450px;
    height:auto;
  }

}

@media (max-width: 800px){
  text {
    font-size: 0.8rem;
  }
  .feed {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    padding: 1rem 1.5rem; 
  }
  .resize {
    width: 350px;
    height:auto;
  }
  .article-body img {
    width: 390px;
    height:auto;
  }
  .header ul {
    padding-left: 1rem;
    font-size: 0.8rem;
    grid-template-columns: 2fr 1fr
  }
  .create-article-page {
    grid-template-columns: 1fr;
  }
  .editor-help {
    display: none;
  }
  .head-label-input {
    padding-left: 1rem;
  }
  .login {
    margin: 1rem 5rem;
  }
}
@media (max-width: 600px){
  .articleTop {
    grid-template-columns: 1fr;
  }
  .article-title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.8rem;
  }
  .profile-body {
    grid-template-columns: 1fr;
  }
  .login {
    margin: 1rem 2rem;
  }

  
}



